@import "tailwindcss";

:root:has(.app-light) {
  --background: #ffffff;
  --foreground: #171717;
}

:root:has(.app-dark) {
  --background: #0a0a0a;
  --foreground: #ededed;
}

* {
  transition: all .15s ease;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-poppins);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

.launchpad-container {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

/* Chrome, Edge, Safari */
.launchpad-container::-webkit-scrollbar {
  width: 5px;
}

.launchpad-container::-webkit-scrollbar-track {
  background: transparent;
}

.launchpad-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
  transition: background-color 0.2s ease;
}

.launchpad-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* From Uiverse.io by njesenberger */ 
.toggle-container {
  --active-color: #1868e3;
  --inactive-color: #d3d3d6;
  position: relative;
  aspect-ratio: 292 / 142;
  height: 1.5em;
}

.toggle-input {
  appearance: none;
  margin: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.toggle {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.toggle-background {
  fill: var(--inactive-color);
  transition: fill .4s;
}

.toggle-input:checked + .toggle .toggle-background {
  fill: var(--active-color);
}

.toggle-circle-center {
  transform-origin: center;
  transition: transform .6s;
}

.toggle-input:checked + .toggle .toggle-circle-center {
  transform: translateX(150px);
}

.toggle-circle {
  transform-origin: center;
  transition: transform .45s;
  backface-visibility: hidden;
}

.toggle-circle.left {
  transform: scale(1);
}

.toggle-input:checked + .toggle .toggle-circle.left {
  transform: scale(0);
}

.toggle-circle.right {
  transform: scale(0);
}

.toggle-input:checked + .toggle .toggle-circle.right {
  transform: scale(1);
}

.toggle-icon {
  transition: fill .4s;
}

.toggle-icon.on {
  fill: var(--inactive-color);
}

.toggle-input:checked + .toggle .toggle-icon.on {
  fill: #fff;
}

.with-lg {
  filter: url(#lg-dist) saturate(150%);
  isolation: isolate;
}

.toggle-icon.off {
  fill: #eaeaec;
}

.toggle-input:checked + .toggle .toggle-icon.off {
  fill: var(--active-color);
}

.graphic-design-grid {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 14rem 14rem 14rem;
  grid-template-areas: 
    "a b"
    "a c"
    "d d"
  ;
}

.grid-a {
  grid-area: a;
}

.grid-b {
  grid-area: b;
}

.grid-c {
  grid-area: c;
}

.grid-d {
  grid-area: d;
}